<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossOrigin="anonymous" />
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json">
    <link href="../public/css/footballMain.css" rel="stylesheet">

  </head>
  
  <body>
    <div id="container" style="text-align: center">      
      <button id="backButton" type="button"><img src="../img/backButton.png" height="25px" width="25px"></button>
      <select>
        <option value="" selected disabled hidden>Choose Playbook</option>
        <option value="football">Football</option>
        <option value="baseball">Baseball</option>
        <option value="ice_hockey">Ice Hockey</option>
        <option value="csgo">Counter Strike: Global Offensive</option>
      </select>
      <select>
        <option value="" selected disabled hidden>Choose Play</option>
        <option value="football">Football</option>
        <option value="baseball">Baseball</option>
        <option value="ice_hockey">Ice Hockey</option>
        <option value="csgo">Counter Strike: Global Offensive</option>
      </select>
      <button id="playButton" type="button"><img src="../img/playButton.png" height="25px"
        width="25px"></button>
      <button id="saveButton" type="button"><img src="../img/saveButton.png" height="25px" width="25px">Save</button>
    </div>
    
    <div id="field" style="text-align:center">
      <img src="./img/footballField.jpg" style="width: 95vw">
    </div>
    
    
    <div id="bottomButtons" style="text-align: center">  
      <button id="eraseButton" type="button"><img src="../img/eraserButton.png" height="25px" width="25px"></button>
      <button id="upButton" type="button"><img src="../img/upArrow.png" height="25px" width="25px"></button>
      <button id="undoButton" type="button"><img src="../img/undoButton.svg" height="25px" width="25px"></button>
    </div>
  
  </body>

</html>
