<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossOrigin="anonymous" />
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json">
    <title>Settings</title>
  </head>
  <body>
    <div id="root" style="text-align: center">
      <h1 style="margin-bottom: 20vh; margin-top: 10vh">This will be the Settings Page</h1>
    </div>
    <div style="text-align: center"
    <label>
        <button type="button" style="height: 5em;width: 10em" onclick="window.location.href='/'">Back</button>
    </label>
  </body>
</html>
