#topButtons{
	width: 100%;
	height: 20px;
	position: fixed;
}

#backButton{
	padding: 0;
	border: none;
	background: none;
	float: left;
}

#saveButton{
	padding: 0;
	border: none;
	background: none;
	float: right;
}

#playButton{
	padding: 0;
	border: none;
	background: white;
}


#bottomButtons{
	width: 100%;
	height: 20px;
	position: fixed;
	bottom: 10px;
}

#eraseButton{
	padding: 0;
	border: none;
	background: none;
	float:left;
}

#upButton{
	padding: 0;
	border: none;
	background: none;
}

#undoButton{
	padding: 0;
	border: none;
	background: none;
	float:right;
}

#field{
	height:100%;
	width:800px;
	min-height: 100%
	min-width:100%;
}