#topButtons{
	top: 5px;
	width: 100%;
	height:20px;
	position: fixed;
}

#backButton{
	float: left;
		
}

#saveButton{
	float: right;
	
}

#playButton{
	
}


#bottomButtons{
	width: 100%;
	height: 20px;
	position: fixed;
	bottom: 10px;


}

#eraseButton{
	float:left;
}

#undoButton{
	float:right;
}

#field{
	height:100%;
	width:800px;
	min-height: 100%
	min-width:100%;
}